<ion-view view-title="Webduino Demo">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="demo in webduino" type="item-text-wrap" href="#/tab/dash/{{demo.path}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{demo.name}}</h2>
        <p>{{demo.description}}  {{ demo.path }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
